<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Average Rating</dt>
          <dd><%= @average_rating %></dd>
        </dl>
      </div>
    </div>

    <div style="margin-top: 35px; font-size: 10px;">
      <h1>Reviews</h1>
      <% @product.reviews.reverse.each do |review| %>
        <p> <%= review.user.first_name %> </p>
        <p> <%= review.rating %>/5 </p>
        <p> <%= review.description %> </p>
        <% if review.user_id == current_user.id %>
         <%= link_to "Delete", [@product, review], method: :delete %>
        <% end %>
        <hr>
      <% end %>
    </div>

    <% if current_user %>
      <%= form_for [@product, @product.reviews.build] do |f| %>
        <%= f.label :rating %>
        <%= f.select :rating, [1, 2, 3, 4, 5]%>
        <%= f.label :review %>
        <%= f.text_field :description %>
        <%= f.submit "Create" %>
      <% end %>
    <% end %>

  </article>

</section>
